@media screen and (max-width:800px) {
    body {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
 @media only screen 
    and (min-width: 320px) 
    and (max-width: 480px)
    and (resolution: 150dpi) {
      body { line-height: 1.4; }
  }
  @media screen and (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media screen and (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: blue;
    /* font: size 1.5vw;      */
}
#nav {
    background: #026292;
    color: #ffffff;
    text-align: center;
    max-width: 100%;
    padding: 20px;
}
#nav h1{
    text-transform: uppercase;
    /* font-size:4vw; */
}

#slider img{
    float: left;
    width: 75%;
    padding: 0%;
    padding-top: 0px;
}

#register {
    float: left;
    font-weight: bold;   
    background-color: #ffffff;
    padding: 3.8%;
    text-align: center;
    border-radius: 3px;
}

input{
    border-color: black ;
    padding: 5px;
    border-radius: 5px;
}
.name {
    padding: 5px;
    border-radius: 3px;
}

.email {
    padding: 5px;

}

.button {
    padding: 5px;
}

#button {
    color: #ffffff;
    background-color: #095702;
    font-weight: bold;
}


